body { 
    background-color: #00ADB5 ;
    size-adjust: 0%;
    font-family:Helvetica;
}
hr{

    border-style: dotted none none none  ;
    border-width: 5px;
    border-color: #EEEEEE;


    width: 5%;

}
h1{
    color: #EEEEEE;
    text-align: end;
    text-decoration:double;

}

h3{
    color: #EEEEEE;
}

p{
    color: #393E46;
    text-align:end;
    text-decoration:double;
}

a{
    color: #393E46;
    text-align:center;
    text-decoration:underline;
}